.Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
  background: #f8f9fa;
  min-height: 100vh;
}

.loading{
  text-align: center;
  margin-top: 10rem;
  font-size: 2rem;
  color: #555;
}

.back {
  align-self: flex-start;
  margin-bottom: 2rem;
  background: #4CAF50;
  color: white;
  border: none;
  padding: 0.6rem 1.2rem;
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;
}

.card {
  display: flex;
  flex-direction: row;
  background: rgb(211, 205, 205);
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  width: 100%;
  gap: 2rem;
}

.img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}

.info {
  text-align: left;
}

.title {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #333;
}

.desc {
  font-size: 1.1rem;
  color: #666;
  margin-bottom: 1rem;
}

.price {
  font-size: 1.5rem;
  color: #28a745;
  margin-bottom: 0.5rem;
}

.rating {
  font-size: 1.1rem;
  color: #f39c12;
}

.brand,
.category {
  font-size: 1rem;
  color: #555;
  margin-top: 0.3rem;
}

.see-more{
  color: #2855a7;
  cursor: pointer;
}